*{
    font-family: "Poppins";
}



body{
    background-image: none;
    background-color: #282828;
    max-height: 100%;
    min-height: auto;
}

.inputRating{
    padding-top: 50px;
    color: #fff;
    margin: auto;
    text-align: center;
    font-size: 160%;
}

.inputRating button{
    margin-top: 25px;
    width: 200px;
    height: 50px;
    font-size: 80%;
}

.ratings{
    margin: auto;
    padding: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    
}

.RatingBox{
    padding: 10px;
    margin: auto;
    background-image: linear-gradient(#fff, #c0c0c0);
    max-width: 90%;
    width: 100%;
    box-shadow: 0px 10px 10px 10px #0000006f;

    display: grid;
    grid-template-columns: 50px min-content auto min-content;
    column-gap: 5px;
    grid-template-rows: 50px 200px;
    border-radius: 3px;
}

.RateImage{

    border-radius: 10000px;
    overflow: hidden;
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.RateImage img{
    width: auto;
    height: 100%;

}

.RateName{

    align-self: center;
    font-size: 110%;
    font-weight: bolder;
}

.RateStars{
    grid-column: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2px;
    align-items: center;
    text-align: end;

}

.RateStars i{
    color: #ffd43b;
    font-size: 150%;

}

.RateText{
    color: #282828;
    grid-column: 1 / span 4;
    margin: 10px;
    overflow-y: scroll;
}


@media (max-width: 1300px) {
    
    .ratings{
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 900px) {
    
    .ratings{
        max-width: 600px;
        grid-template-columns: 1fr;
    }
    .RateStars{
        grid-row: 3;
        grid-column: 1 /span 4;
        text-align: center;

        padding: 5px;
        height: 100%;
        font-size: 150%;
    }

    .RatingBox{

        grid-template-rows: min-content 50px 50px max-content;
        
    }

    .RateName{
        grid-row: 2;
        grid-column: 1 /span 4;
        text-align: center;
    }

    .RateImage{
        grid-row: 1;
        grid-column: 1 /span 4;
        overflow: hidden;

        
    }

    .RateImage img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;

    }

    .RateText{
        overflow-y: visible;
    }

}

@media (min-width: 1px) {
    .button{
        display: inline;
        opacity: 1;
    }
}